<div class="modal-container">
  <div class="title">
    <h1 mat-dialog-title>Dados do Lead - Apenas visualização</h1>
  </div>

  <form class="form">
    <h2>Dados do Lead</h2>

    <label mat-dialog-title>Nome Completo*</label>
    <input type="text" disabled [value]="userName">

    <label mat-dialog-title>Email*</label>
    <input type="text" disabled [value]="userEmail">

    <label mat-dialog-title>Telefone*</label>
    <input type="text" disabled [value]="userPhoneNumber">

  </form>

  <div class="checkbox-container">
    <h2 mat-dialog-title>Oportunidades</h2><br>

    <div class="checkboxes">
      <input type="checkbox" name="todos" disabled [checked]="checkTodos ? true : false">
      <label for="todos">Todos</label><br>

      <input type="checkbox" name="sucumbenciais" disabled [checked]="checkSucumbenciais ? true : false">
      <label for="sucumbenciais">Honorários Sucumbenciais</label><br>

      <input type="checkbox" name="contratuais" disabled [checked]="checkContratuais ? true : false">
      <label for="contratuais">Honorários Contratuais</label><br>

      <input type="checkbox" name="dativos" disabled [checked]="checkDativos ? true : false">
      <label for="dativos">Honorários Dativos</label><br>

      <input type="checkbox" name="autor" disabled [checked]="checkAutor ? true : false">
      <label for="autor">Crédito do Autor</label><br>
    </div>

  </div>
  <div mat-dialog-actions>
    <button class="btn" mat-button (click)="cancel()">Voltar</button>
  </div>
</div>


