<app-navbar></app-navbar>

<div class="login-container">
  <img src="../../../assets/JusCashIcon.png" alt="JusCash Ícone">
  <form class="form">
    <h3>Criar conta</h3>
    <div class="form-group">
      <label for="nome">Seu nome completo: <span class="star">*</span></label>
      <input type="text" name="nome" #name>
    </div>
    <div class="form-group">
      <label for="email">Seu melhor e-mail: <span class="star">*</span></label>
      <input type="email" name="email" #email autocomplete="on">
    </div>
    <div class="form-group">
      <label for="senha:">Senha: <span class="star">*</span></label>
      <input name="nome" placeholder="Escolha uma senha forte" #password [type]=" changeTypeA ? 'password' : 'text' ">
      <span class="eye-icon" (click)="changeIconPassword()"><i [ngClass]=" visible ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash' "></i></span>
    </div>


    <div class="form-group">
      <label for="senha:">Confirme sua senha: <span class="star">*</span></label>
      <input name="nome" placeholder="Confirme a senha" #confirmPassword autocomplete="on" [type]=" changeTypeB ? 'password' : 'text' ">
      <span class="eye-icon" (click)="changeIconConfirm()"><i [ngClass]=" visibleConfirm ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash' "></i></span>


    </div>


    <div class="redirect-signup">
      <p>Já tem uma conta? <a href="#/login">Fazer login</a></p>
    </div>
  </form>
  <button class="btn" (click)="checkSignupForm()">Criar Conta</button>

</div>
