<app-navbar></app-navbar>

<div class="main-container">
  <img src="../../../assets/JusCashBig.png" alt="JusCash Ícone" />

  <button class="lead-btn" (click)="addLead()">+ Novo Lead</button>

  <div class="root">
    <div class="board">

      <div class="board-bar">
        <p class="board-name">{{ board.name }}</p>
      </div>

      <div class="board-wrapper">

        <div class="board-columns" cdkDropListGroup>
          <div class="board-column" *ngFor="let column of board.columns">

            <div class="column-title">
              {{ column.name }}
            </div>

            <div class="tasks-container"
            cdkDropList
            [cdkDropListData]="column.tasks"
            (cdkDropListDropped)="drop($event)">
              <div class="task" *ngFor="let item of column.tasks" cdkDrag  (click)="leadPreview(clickedBox.innerText)" >
                  {{item.name}}
                  <span class="hidden" #clickedBox>{{item.email}}</span>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>

  <div class="save-btn" (click)="saveLeadsInfo()">Salvar informações</div>

</div>
