.main-container{
  font-family: Roboto, sans-serif;
  background-color: #a8a8a8;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  margin: 0 auto;
  padding: 20px 0px;
  transform: translate(0%, 20%);
}

.main-container img {
  border-radius: 3px;
  width: 400px;
}

.btn {
  background-color: rgb(44, 128, 173);
  color: white;
  border-style: none;
  border-radius: 3px;
  padding: 6px 18px;
  margin-top: 20px;
  position: relative;
  margin-left: 280px;
  cursor: pointer;
}

.cdkTableContainer{

  margin-top: 20px;

  .example-list {
    width: 600px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }

  .example-box {
    padding: 20px 10px;
    border-right: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    flex-grow: 1;
    flex-basis: 0;
  }
}

.header{
  background-color: #fff;
  border-radius: 4px;
  width: 600px;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;

  h3{
    font-size: 14px;
  }
}

::ng-deep .custom-modalbox{
  mat-dialog-container {
    position: fixed;
    width: 500px;
    height: 540px;
    transform: translate(80%, 10%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}
