<div class="main-container">
  <img src="../../../assets/JusCashBig.png" alt="JusCash Ícone" />

  <button class="btn" (click)="addLead()">+ Novo Lead</button>

  <div class="header">
    <div class="box">
      <h3>Cliente Potencial</h3>
    </div>
    <div class="box">
      <h3>Dados Confirmados</h3>
    </div>
    <div class="box">
      <h3>Análise do Lead</h3>
    </div>
  </div>

  <div class="cdkTableContainer">

    <div class="example-list"
    cdkDropList
    cdkDropListOrientation="horizontal"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let leadRole of leadRoles" cdkDrag>{{leadRole}}</div>
    </div>

    <div class="example-list"
    cdkDropList
    cdkDropListOrientation="horizontal"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let leadRole of leadRoles" cdkDrag></div>
    </div>

    <div class="example-list"
    cdkDropList
    cdkDropListOrientation="horizontal"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let leadRole of leadRoles" cdkDrag></div>
    </div>

    <div class="example-list"
    cdkDropList
    cdkDropListOrientation="horizontal"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let leadRole of leadRoles" cdkDrag></div>
    </div>

    <div class="example-list"
    cdkDropList
    cdkDropListOrientation="horizontal"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let leadRole of leadRoles" cdkDrag></div>
    </div>

  </div>


</div>
